<ion-view title="Login" id="page3">
    <ion-content padding="true" style="background: url(img/gp9Fm98vQLOfj9hDyoCr_piano.jpg) no-repeat center;background-size:cover;" class="has-header">
        <form id="login-form1" class="list">
            <ion-list id="login-list1">
                <label class="item item-input" id="login-input1">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="menu" id="login-button1" class="button button-stable  button-block">Log in</a>
        </form>
    </ion-content>
</ion-view>