<ion-view title="menu" hide-back-button="true" id="page5">
    <ion-content padding="true" class="has-header">
        <ion-list id="menu-list2">
            <ion-item class="item-icon-right" id="menu-list-item1" ui-sref="piano">Piano
                <i class="icon ion-chevron-right"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="menu-list-item3" ui-sref="informacion">Informacion
                <i class="icon ion-chevron-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>