<ion-view title="Piano" id="page2">
    <ion-content padding="true" style="background: url(img/simpsons.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h1>PULSE EL PERSONAJE </h1>
        <div id="piano-button-bar1" class="button-bar"></div>
        <div id="piano-button-bar2" class="button-bar"></div>
        <div id="piano-button-bar3" class="button-bar"></div>
        <div class="spacer" style="width: 300px; height: 147px;"></div>
        <span style="display: inline;">
            <input title="boton" alt=" conton comprar " width="50" height="50" src="img/bart.png" type="image" ng-click="Imagen('bart')"/>
            <input title="boton" alt=" conton comprar " width="50" height="50" src="img/barney.png" type="image" ng-click="Imagen('barney')"/>
            <input title="boton" alt=" conton comprar " width="50" height="50" src="img/nelson.png" type="image" ng-click="Imagen('nelson')"/>
        
        </span>
        </br>
         <span style="display: inline;">
            <input title="boton" alt=" conton comprar " width="50" height="50" src="img/homero.png" type="image" ng-click="Imagen('homero')"/>
            <input title="boton" alt=" conton comprar " width="50" height="50" src="img/flanders.png" type="image" ng-click="Imagen('flanders')"/>
            <input title="boton" alt=" conton comprar " width="50" height="50" src="img/marty.png" type="image" ng-click="Imagen('marty')"/>
        
        </span>
        <!--<div id="piano-button-bar5" class="button-bar">
            <button id="piano-button19" class="button button-positive  button-block">1</button>
            <input title="boton" alt=" conton comprar " width="50" height="50" src="img/acertijo2.jpg" type="image" ng-click="Imagen()"/>
            <button id="piano-button20" class="button button-positive  button-block">2</button>
        </div>
        <div id="piano-button-bar6" class="button-bar">
            <button id="piano-button22" class="button button-positive  button-block">1</button>
            <button id="piano-button23" class="button button-positive  button-block">2</button>
        </div>
        <div id="piano-button-bar7" class="button-bar">
            <button id="piano-button25" class="button button-positive  button-block">1</button>
            <button id="piano-button26" class="button button-positive  button-block">2</button>
        </div>-->
    </ion-content>
</ion-view>